@media only screen and (max-width: 1280px) {
  .main-footer .footer-container {
    max-width: 1100px;
  }

  .main-footer .footer-container .footer-top ul {
    /* background-color: red; */
    gap: 0rem !important;
  }

  /* @media only screen and (max-width: 1280px) { */
}

@media only screen and (max-width: 1024px) {
  main {
    padding: 0rem 2rem;
  }

  main .page-title {
    padding: 0rem 2rem !important;
  }
  .services-details .container .row {
    flex-direction: column-reverse !important;
  }
  .services-details .container .row .col-xl-4 {
    margin-top: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services-details .container .row .col-xl-4 div:nth-child(2) {
    margin-top: 2rem;
  }
  /* ---------------- Footer ------------------- */
  .main-footer {
    padding: 0rem 3rem !important;
  }
  .main-footer .footer-container .footer-top ul {
    gap: 1rem !important;
    row-gap: 1rem !important;
    flex-wrap: nowrap;
    justify-content: center !important;
  }

  .main-footer .footer-container .footer-bottom {
    flex-direction: column !important;
  }
  .main-footer .footer-container .footer-bottom div:first-child {
    width: 100% !important;
  }
  .main-footer .footer-container .footer-bottom div:last-child {
    width: 100% !important;
  }

  .main-footer
    .footer-container
    .footer-bottom
    .f-links-container
    div:nth-child(2) {
    width: 100% !important;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  main {
    padding: 0rem 0rem;
  }
  .page-breadcrumb {
    margin-top: 90px;
  }
  .sec-title {
    margin-right: 10px;
  }
  .google-sub-section-1col-1 {
    margin-left: 10px;
    /* padding: 5px; */
  }
  .google-sub-section-1col-2 {
    padding-left: 30px;
  }
  .w-75 {
    width: 95% !important;
    padding-top: 20px;
  }
  .box-card {
    padding: 10px;
  }
  main section {
    max-width: 1250px;
    margin: 50px auto;
    padding-left: 15px;
  }
  /* seo */
  .page-title .title {
    font-size: 52px;
    color: #ffffff;
    margin-bottom: 0;
  }
  /* .col-md-6 {
    width: 0px;
  } */
  .asked-part {
    padding: 10px !important;
  }
  /* social media  */
  .social-media {
    padding: 12px !important;
  }
  .social-service {
    font-size: 1.8rem !important;
  }
  .social-txt {
    font-size: 1.8rem;
  }

  /* smo */
  .smo-txt {
    font-size: 1.8rem;
  }
  .smo-txt-2 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 568px) {
  /* ---------------- Footer ------------------- */
  .main-footer {
    padding: 0rem 1rem !important;
  }
  .main-footer .cr-container {
    flex-direction: column !important;
    row-gap: 1rem !important;
  }
  .gap-3 {
    gap: 0rem !important;
  }
  main {
    padding: 0rem 0rem;
  }
  .page-title .title {
    font-size: 52px;
    color: #ffffff;
    margin-bottom: 80px;
  }
  .sec-title {
    padding-left: 20px;
  }
  .google-sub-section-1col-2 {
    padding-left: 20px;
  }
  .w-75 {
    width: 95% !important;
    padding-top: 20px;
  }
  .btn-style-one {
    margin-left: 10px;
  }
  .p-5 {
    padding: 0px !important;
  }
  .box-card {
    padding: 10px;
  }
  /* seo */
  .page-title .title {
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 0;
  }
  .asked-part {
    padding: 10px !important;
  }
  .team-social {
    margin-left: -30px;
  }
  .social-service {
    font-size: 1.5rem !important;
  }
  .soical-service-all {
    padding-left: 0px !important;
  }
  .social-txt {
    font-size: 1.5rem;
  }
  /* smo */
  .smo-txt {
    font-size: 1.5em;
  }
}

/* Bogor Appy - App Landing HTML Template*/

/* @media only screen and (max-width: 950px) {
  .mobile-footer-container {
    position: fixed;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
  }

  .main-footer {
    margin: 0px 0px 50px 0px;
    padding: 12px 0px;
  }
} */

/* @media only screen and (max-width: 950px) {
  .fixed-btn {
    display: none;
  }
  .whatsapp-logo-div {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .modal-main-flex {
    flex-direction: column;
    margin-top: 69px;
  }
  .modal-flex1 {
    text-align: center;
    width: 100%;
  }
  .modal-flex1 img {
    margin: 0px 0px -40px 0px;
  }
} */

@media (max-width: 580px) {
}
@media (max-width: 530px) {
}
@media (max-width: 485px) {
}
@media (max-width: 429px) {
}
@media (max-width: 411px) {
}
@media (max-width: 390px) {
}
@media (max-width: 362px) {
}
@media (max-width: 349px) {
}
